*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}
body {
  background-color: #e2e0e2;
  overflow: hidden;
}
.origin {
  top: 0;
  left: 0;
  position: absolute;
}
.load-squre {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  width: 150px;
  height: 150px;
  padding: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  transform: translate(-50%, -50%) rotate(45deg);
  transform-origin: center center;
}
.load-squre-item {
  background-color: #cccccc;
  position: relative;
  overflow: hidden;
}
.load-squre-item::after {
  content: '';
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #4c4c4c;
  position: absolute;
  transform: translateY(100%);
  animation: load-squre-item 3s infinite;
}
.load-squre-item:nth-child(2n + 1)::after {
  animation-delay: 0.6s;
}
@keyframes load-squre-item {
  0% {
    transform: translateY(100%);
  }
  20% {
    transform: translateY(0%);
  }
  60% {
    transform: translateY(0%);
  }
  80% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(-100%);
  }
}
.load-line {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 200px;
  overflow: hidden;
  transform: translate(-50%, -50%) rotate(45deg);
}
.load-line-item {
  background-color: #4c4c4c;
  position: absolute;
}
.load-line-item:nth-child(1) {
  width: 100%;
  height: 1px;
  top: 0;
  left: 0;
  animation: load-line-item-1 1.5s infinite;
}
.load-line-item:nth-child(2) {
  width: 1px;
  height: 100%;
  top: 0;
  right: 0;
  animation: load-line-item-2 1.5s infinite;
}
.load-line-item:nth-child(3) {
  width: 100%;
  height: 1px;
  right: 0;
  bottom: 0;
  animation: load-line-item-3 1.5s infinite;
}
.load-line-item:nth-child(4) {
  width: 1px;
  height: 100%;
  bottom: 0;
  left: 0;
  animation: load-line-item-4 1.5s infinite;
}
@keyframes load-line-item-1 {
  0% {
    transform: translateX(-100%);
  }
  33% {
    transform: translateX(0);
  }
  66% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(100%);
  }
}
@keyframes load-line-item-2 {
  0% {
    transform: translateY(-100%);
  }
  33% {
    transform: translateY(0);
  }
  66% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(100%);
  }
}
@keyframes load-line-item-3 {
  0% {
    transform: translateX(100%);
  }
  33% {
    transform: translateX(0);
  }
  66% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes load-line-item-4 {
  0% {
    transform: translateY(100%);
  }
  33% {
    transform: translateY(0);
  }
  66% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(-100%);
  }
}
.load-point {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 200px;
  transform: translate(-50%, -50%) rotate(45deg);
}
.load-point-item {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #4c4c4c;
  position: absolute;
}
.load-point-item:nth-child(1) {
  top: -5px;
  left: -5px;
  animation: load-point-item-1 1.5s infinite;
}
.load-point-item:nth-child(2) {
  top: -5px;
  right: -5px;
  animation: load-point-item-2 1.5s infinite;
}
.load-point-item:nth-child(3) {
  right: -5px;
  bottom: -5px;
  animation: load-point-item-3 1.5s infinite;
}
.load-point-item:nth-child(4) {
  left: -5px;
  bottom: -5px;
  animation: load-point-item-4 1.5s infinite;
}
@keyframes load-point-item-1 {
  0% {
    transform: translateX(0);
  }
  33% {
    transform: translateX(200px);
  }
  66% {
    transform: translateX(200px) scale(1.5);
  }
  100% {
    transform: translateX(200px);
  }
}
@keyframes load-point-item-2 {
  0% {
    transform: translateY(0);
  }
  33% {
    transform: translateY(200px);
  }
  66% {
    transform: translateY(200px) scale(1.5);
  }
  100% {
    transform: translateY(200px);
  }
}
@keyframes load-point-item-3 {
  0% {
    transform: translateX(0);
  }
  33% {
    transform: translateX(-200px);
  }
  66% {
    transform: translateX(-200px) scale(1.5);
  }
  100% {
    transform: translateX(-200px);
  }
}
@keyframes load-point-item-4 {
  0% {
    transform: translateY(0);
  }
  33% {
    transform: translateY(-200px);
  }
  66% {
    transform: translateY(-200px) scale(1.5);
  }
  100% {
    transform: translateY(-200px);
  }
}
.load-bar {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 15px;
  margin-top: 200px;
}
.load-bar-process {
  width: 100%;
  height: 100%;
  background-color: #cccccc;
  overflow: hidden;
  position: absolute;
  animation: load-bar-show 1ms 1.8s forwards;
}
.load-bar-process::after {
  content: '';
  width: 100%;
  height: 100%;
  background-color: #4c4c4c;
  animation: load-bar-process 1.5s forwards ease-in;
  position: absolute;
}
.load-bar-border {
  top: -7.5px;
  left: -10px;
  width: 220px;
  height: 30px;
  position: relative;
  animation: load-bar-show 1ms 1.8s forwards;
}
.load-bar-border::before,
.load-bar-border::after {
  content: '';
  top: 0;
  width: 10px;
  height: 100%;
  border: 1px solid #4c4c4c;
  position: absolute;
}
.load-bar-border::before {
  left: 0;
  border-right: none;
}
.load-bar-border::after {
  right: 0;
  border-left: none;
}
.load-bar-mask {
  top: -50%;
  left: -10px;
  width: 220px;
  height: 30px;
  position: absolute;
  overflow: hidden;
}
.load-bar-mask::after {
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  transform: translateY(-100%);
  background-color: #4c4c4c;
  animation-delay: 1.5s;
  animation: load-bar-mask 0.75s 1.5s forwards;
}
@keyframes load-bar-process {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes load-bar-show {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes load-bar-mask {
  0% {
    transform: translateY(-100%);
  }
  25% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100%);
  }
}
.load-mask {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 400px;
  overflow: hidden;
  transform: translate(-50%, -50%) rotate(45deg);
}
.load-mask-top,
.load-mask-bottom {
  width: 100%;
  height: 0;
  background-color: #4c4c4c;
  position: absolute;
  overflow: hidden;
}
.load-mask-top::before,
.load-mask-bottom::before {
  content: '';
  left: 0;
  width: 100%;
  height: 100px;
  background-color: #cccccc;
  position: absolute;
}
.load-mask-top {
  animation: load-mask-top 1.5s 1.8s forwards;
}
.load-mask-top::before {
  top: 100px;
}
.load-mask-bottom {
  bottom: 0;
  animation: load-mask-bottom 1.5s 1.8s forwards;
}
.load-mask-bottom::before {
  bottom: 100px;
  background-color: #b2b2b2;
}
.load-mask-exit {
  width: 100%;
  height: 100%;
  background-color: #e2e0e2;
  position: absolute;
  transform: translateY(-100%);
  animation: load-mask-exit 0.75s 3.3s forwards;
}
@keyframes load-mask-top {
  0% {
    height: 1px;
    transform: translateX(-100%);
  }
  50% {
    height: 1px;
    transform: translate(0);
  }
  100% {
    height: 50%;
    transform: translate(0);
  }
}
@keyframes load-mask-bottom {
  0% {
    height: 1px;
    transform: translateX(100%);
  }
  50% {
    height: 1px;
    transform: translate(0);
  }
  100% {
    height: 50%;
    transform: translate(0);
  }
}
@keyframes load-mask-exit {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
.load {
  width: 400px;
  height: 400px;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}
.main-squre-around-line-item {
  background-color: #4c4c4c;
  position: absolute;
}
.main-squre-around-line-item:nth-child(1) {
  width: 100%;
  height: 1px;
  top: 0;
  left: 0;
}
.main-squre-around-line-item:nth-child(2) {
  width: 1px;
  height: 100%;
  top: 0;
  right: 0;
}
.main-squre-around-line-item:nth-child(3) {
  width: 100%;
  height: 1px;
  right: 0;
  bottom: 0;
}
.main-squre-around-line-item:nth-child(4) {
  width: 1px;
  height: 100%;
  bottom: 0;
  left: 0;
}
.main-squre-around-point-item {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #4c4c4c;
  position: absolute;
}
.main-squre-around-point-item:nth-child(1) {
  top: -5px;
  left: -5px;
}
.main-squre-around-point-item:nth-child(2) {
  top: -5px;
  right: -5px;
}
.main-squre-around-point-item:nth-child(3) {
  right: -5px;
  bottom: -5px;
}
.main-squre-around-point-item:nth-child(4) {
  left: -5px;
  bottom: -5px;
}
.main-squre-group-line-item {
  background-color: #4c4c4c;
  position: absolute;
}
.main-squre-group-line-item:nth-child(1) {
  width: 100%;
  height: 1px;
  top: 0;
  left: 0;
}
.main-squre-group-line-item:nth-child(2) {
  width: 1px;
  height: 100%;
  top: 0;
  right: 0;
}
.main-squre-group-line-item:nth-child(3) {
  width: 100%;
  height: 1px;
  right: 0;
  bottom: 0;
}
.main-squre-group-line-item:nth-child(4) {
  width: 1px;
  height: 100%;
  bottom: 0;
  left: 0;
}
.main-squre-group-point-item {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #4c4c4c;
  position: absolute;
}
.main-squre-group-point-item:nth-child(1) {
  top: -5px;
  left: -5px;
}
.main-squre-group-point-item:nth-child(2) {
  top: -5px;
  right: -5px;
}
.main-squre-group-point-item:nth-child(3) {
  right: -5px;
  bottom: -5px;
}
.main-squre-group-point-item:nth-child(4) {
  left: -5px;
  bottom: -5px;
}
.main-squre {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 500px;
}
.main-squre-around,
.main-squre-group {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: relative;
  position: absolute;
}
.main-squre-around-line {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.main-squre-around-line-item {
  opacity: 0;
}
.main-squre-around-line-item:nth-child(1) {
  animation: main-squre-around-line-item-1 4.5s forwards;
}
.main-squre-around-line-item:nth-child(2) {
  animation: main-squre-around-line-item-2 4.5s forwards;
}
.main-squre-around-line-item:nth-child(3) {
  animation: main-squre-around-line-item-3 4.5s forwards;
}
.main-squre-around-line-item:nth-child(4) {
  animation: main-squre-around-line-item-4 4.5s forwards;
}
.main-squre-around-point {
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}
.main-squre-around-point-item {
  transform: scale(0);
}
.main-squre-around-point-item:nth-child(1) {
  animation: main-squre-around-point-item-1 4.5s;
}
.main-squre-around-point-item:nth-child(2) {
  animation: main-squre-around-point-item-2 4.5s forwards;
}
.main-squre-around-point-item:nth-child(3) {
  animation: main-squre-around-point-item-3 4.5s forwards;
}
.main-squre-around-point-item:nth-child(4) {
  animation: main-squre-around-point-item-4 4.5s forwards;
}
.main-squre-group {
  transform: rotate(45deg);
}
.main-squre-group-line {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.main-squre-group-line-item {
  opacity: 0;
  animation-delay: 1.5s !important;
}
.main-squre-group-line-item:nth-child(1) {
  animation: main-squre-group-line-item-1 4.5s forwards;
}
.main-squre-group-line-item:nth-child(2) {
  top: unset;
  bottom: 0;
  animation: main-squre-group-line-item-2 4.5s forwards;
}
.main-squre-group-line-item:nth-child(3) {
  animation: main-squre-group-line-item-3 4.5s forwards;
}
.main-squre-group-line-item:nth-child(4) {
  animation: main-squre-group-line-item-4 4.5s forwards;
}
.main-squre-group-point {
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}
.main-squre-group-point-item {
  transform: scale(0);
  animation-delay: 1.5s !important;
}
.main-squre-group-point-item:nth-child(1) {
  animation: main-squre-group-point-item-1 4.5s forwards;
}
.main-squre-group-point-item:nth-child(2) {
  top: unset;
  bottom: -5px;
  animation: main-squre-group-point-item-2 4.5s forwards;
}
.main-squre-group-point-item:nth-child(3) {
  animation: main-squre-group-point-item-3 4.5s forwards;
}
.main-squre-group-point-item:nth-child(4) {
  top: -5px;
  animation: main-squre-group-point-item-4 4.5s forwards;
}
.group-2 {
  transform: rotate(22deg);
}
.group-2 .main-squre-group-line-item {
  animation-delay: 2.25s !important;
}
.group-2 .main-squre-group-point-item {
  animation-delay: 2.25s !important;
}
.group-3 {
  transform: rotate(-22deg);
}
.group-3 .main-squre-group-line-item {
  animation-delay: 3s !important;
}
.group-3 .main-squre-group-point-item {
  animation-delay: 3s !important;
}
.around-2 {
  transform: rotate(45deg);
}
.around-2 .main-squre-around-line-item {
  animation-delay: 3.75s !important;
}
.around-2 .main-squre-around-point-item {
  animation-delay: 3.75s !important;
}
@keyframes main-squre-around-line-item-1 {
  0%,
  20% {
    transform: translateX(-100%);
    opacity: 1;
  }
  40% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 0;
  }
}
@keyframes main-squre-around-line-item-2 {
  0%,
  20% {
    transform: translateY(-100%);
    opacity: 1;
  }
  40% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 0;
  }
}
@keyframes main-squre-around-line-item-3 {
  0%,
  20% {
    transform: translateX(100%);
    opacity: 1;
  }
  40% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 0;
  }
}
@keyframes main-squre-around-line-item-4 {
  0%,
  20% {
    transform: translateY(100%);
    opacity: 1;
  }
  40% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 0;
  }
}
@keyframes main-squre-around-point-item-1 {
  0% {
    transform: translateX(0) scale(0);
  }
  5%,
  20% {
    transform: translateX(0) scale(1);
  }
  40%,
  100% {
    transform: translateX(500px) scale(0);
  }
}
@keyframes main-squre-around-point-item-2 {
  0%,
  5% {
    transform: translateY(0) scale(0);
  }
  10%,
  20% {
    transform: translateY(0) scale(1);
  }
  40%,
  100% {
    transform: translateY(500px) scale(0);
  }
}
@keyframes main-squre-around-point-item-3 {
  0%,
  10% {
    transform: translateX(0) scale(0);
  }
  15%,
  20% {
    transform: translateX(0) scale(1);
  }
  40%,
  100% {
    transform: translateX(-500px) scale(0);
  }
}
@keyframes main-squre-around-point-item-4 {
  0%,
  15% {
    transform: translateY(0) scale(0);
  }
  20% {
    transform: translateY(0) scale(1);
  }
  40%,
  100% {
    transform: translateY(-500px) scale(0);
  }
}
@keyframes main-squre-group-line-item-1 {
  0%,
  10% {
    transform: translateX(-100%);
    opacity: 1;
  }
  25% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 0;
  }
}
@keyframes main-squre-group-line-item-2 {
  0%,
  10% {
    transform: translateY(100%);
    opacity: 1;
  }
  25% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 0;
  }
}
@keyframes main-squre-group-line-item-3 {
  0%,
  10% {
    transform: translateX(100%);
    opacity: 1;
  }
  25% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 0;
  }
}
@keyframes main-squre-group-line-item-4 {
  0%,
  10% {
    transform: translateY(-100%);
    opacity: 1;
  }
  25% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 0;
  }
}
@keyframes main-squre-group-point-item-1 {
  0% {
    transform: translateX(0) scale(0);
  }
  5%,
  10% {
    transform: translateX(0) scale(1);
  }
  25%,
  100% {
    transform: translateX(500px) scale(0);
  }
}
@keyframes main-squre-group-point-item-2 {
  0% {
    transform: translateY(0) scale(0);
  }
  5%,
  10% {
    transform: translateY(0) scale(1);
  }
  25%,
  100% {
    transform: translateY(-500px) scale(0);
  }
}
@keyframes main-squre-group-point-item-3 {
  0% {
    transform: translateX(0) scale(0);
  }
  5%,
  10% {
    transform: translateX(0) scale(1);
  }
  25%,
  100% {
    transform: translateX(-500px) scale(0);
  }
}
@keyframes main-squre-group-point-item-4 {
  0% {
    transform: translateY(0) scale(0);
  }
  5%,
  10% {
    transform: translateY(0) scale(1);
  }
  25%,
  100% {
    transform: translateY(500px) scale(0);
  }
}
